main{padding: 20px;
    padding-bottom: 50px;
}

input{
    outline: none;
    border: none;
    padding: 3px;
    background: no;
}

label{background: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h3,h2,h4{
    background:none;
    font-family: Comfortaa;
}

#contact h2, #contact p {
    padding: 0.7rem;
}


span{font-size: 20px;}

#form{
    padding: 0.5rem 0.5rem 1.2rem 0.5rem;
    font-family: Comfortaa;
    background-color: #8a7bdf;
    border-radius: 20px;
}

#form h3 , #form2 h3{
    margin: 0.6rem;
}

#email{width: 97%;}

#number{width: 84.3%;}

#numNation{
    width: 10%;
}




#form2{
    padding: 0.5rem 0.5rem 1.2rem 0.5rem;
    font-family: Comfortaa;
    background-color: #8e81da;
    margin-top: 10px;
    border-radius: 20px;
}




#name{
    width: 90%;

}
#lstName{
    width: 100%;
}
    


#nameContainer{
    display:flex;
    flex-direction: row;
  
}





#form3{
    padding: 1rem;
    font-family: Comfortaa;
    background-color: #EEECF9;
    margin-top: 10px;
}

#dobContainer{
    display:flex;
    align-items: center;
}



#dateBirth1{width: 2rem;
    margin-right: 1rem;
}

#dateBirth2{width: 2rem;
    margin-right: 1rem;
}

#dateBirth3{width: 2rem;
    margin-right: 1rem;}

#addPerson{
    background-color: #8676A9;
    color: white;
    padding: 0.1rem;
    width: 60%;

}

#addPerson h4,span{
    margin-left: 10px;
}




#luxPackage{
    background-color: #554577;
    color: white;
    font-family: Comfortaa;
    padding: 10px;
    margin-top: 10px;
}




#form4{
    padding: 1rem;
    font-family: Comfortaa;
    background-color: #CCC0E5;
    margin-top: 10px;
}


#submit{
padding: 10px;
background-color:#0A0D4B;
font-size: 30px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

#submit a{color: #ffffff;
    text-decoration: none;
}

#submit:hover {
    background-color: #1e215f;
  }