#form{background-color: #b5a5db;
    padding: 1rem;
    font-family: Comfortaa;

}

input{
    outline: none;
    border: none;
    padding: 3px;
    background: no;
}

label{background: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#numNation{
    width: 2rem;
}

#firstName{margin-right: 1rem;}


#nameContainer{
    display:flex;
    flex-direction: row;
}

#dobContainer{
    display:flex;
    flex-direction: c;
}



#dateBirth1{width: 2rem;
    margin-right: 1rem;
}

#dateBirth2{width: 2rem;
    margin-right: 1rem;
}

#dateBirth3{width: 2rem;
    margin-right: 1rem;}

#addPerson{
    background-color: #8676A9;
    color: white;
    padding: 0.1rem;
    display: flex;
    align-items: center;

}

h3,h2,h4{
    background:none;
    font-family: Comfortaa;
}


span{font-size: 20px;}